/APEC_app/build/
/APEC_app/nbproject/private/
/APEC_servApp/build/
/APEC_servApp/nbproject/private/
/ABEC_app/nbproject/private/
/ABEC_servApp/nbproject/private/
/EncryptionPrototype/build/
/EncryptionPrototype/nbproject/private/