/APEC_app/build/
/APEC_app/nbproject/private/
/APEC_servApp/build/
/APEC_servApp/nbproject/private/
/ABEC_app/nbproject/private/
/ABEC_servApp/nbproject/private/
/ABEC_app/build/
/ABEC_servApp/build/
/ABEC_servApp/dist/